# Virtual environment
ml_env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
*.swp
*.swo

MLOps/MLflow/mlartifacts/*
MLOps/MLflow/mlruns/*